.flex-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: linear-gradient(235deg, rgba(40,40,40,1) 0%, rgba(20,20,20,1) 100%);
}

.anzeige > h3 {
    margin: 0.25em 0;
    color: white;
    font-family: Phudu;
    font-size: 3em;
}

.knopf > button {
    border: none;
    font-size: 1.5em;
    background: rgba(10,10,10,1);
    color: white;
    padding: 0.5em 1em;
}

.knopf > button:active {
    background: rgba(2,2,2,1);
}