ul {
	background-color: grey;
	margin: 0;
	list-style-type: none;
	padding-left: 0 !important;
}

ul > a > li:hover {
	background-color: rgb(167,167,167) !important;
}

ul > a > li {
	padding: 5px;
	color: white;
	text-align: left;
	border-bottom: 2px solid #696969;
}

i {
	margin-right: 0.75em;
	font-size: 20px;
	position: relative;
	left: 0.5em;
	text-align: left;
}

#ansicht {
	width: 20%;
	overflow: scroll;
	height: 100%;
}

.betreff {
	margin-left: 0.5em;
	color: white;
}

.inaktiv {
	display: none;
}

.uhrzeit {
	float: right;
	position: relative;
	top: 0.3em;
}


.autor {
	display: block;
	font-size: 14px;
	font-weight: lighter;
	margin-bottom: 0;
	margin-left: 0.5em;
}

::-webkit-scrollbar {
  width: 0;
}

form > select {
	width: 50%;
}