.header > ul > li {
	list-style-type: none;
	margin-right: 1vw;
	height: 100%;
	padding: 2vw;
	display: inline-block;
}

.header > ul {
	margin-top: 0;
	overflow: auto;
	margin: 0;
	padding: 0;
	border: 2px solid green;
	width: 100%;
}

.header {
	background: grey;
	width: 100%;
}

.flex-container {
	display: flex;
	align-content: left;
	flex-flow: row wrap;
	justify-content: center;
}

body {
	margin: 0;
	padding: 0;
}

.header > ul > li:hover {
	background: rgb(240,240,240);
	animation-name: coool;
	animation-duration: 0.3s;
}

.header > ul > li:nth-child(4) {
	margin-right: 0;
}

.optionen > form{
	background: lightblue;
	padding: 0;
}

ul {
	text-align: center;
}

@keyframes coool {
	0% {
		background: grey;
	}
	100% {
		background: rgb(240,240,240);
	}
}