.header > ul > li {
	list-style-type: none;
	height: 100%;
	padding: 2vw;
	display: inline-block;
	font-family: "Sen";
	font-weight: bold;
}

.header > ul {
	margin-top: 0;
	overflow: auto;
	margin: 0;
	padding: 0;
	border: 2px solid green;
	width: 100%;
}

.header {
	background: grey;
	width: 100%;
}

.flex-container {
	display: flex;
	align-content: left;
	flex-flow: row wrap;
	justify-content: center;
}

.flex-container-content {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-content: flex-start;
	height: 92vh;
}

body {
	margin: 0;
	padding: 0;
}

.header > ul > li:hover {
	background: rgb(240,240,240);
	animation-name: coool;
	animation-duration: 0.3s;
	font-size: 18px;
}

.header > ul > li:nth-child(4) {
	margin-right: 0;
}

.optionen > form{
	background: lightblue;
	padding: 0;
}

ul {
	text-align: center;
}

@keyframes coool {
	0% {
		background: grey;
		font-size: 15px;
	}
	100% {
		background: rgb(240,240,240);
		font-size: 18px;
	}
}

.inhalt {
	width: 60%;
	border: 2px solid;
	padding: 10px;
}

.label-options-box {
	display: block;
	padding: 5px;
}


form > input {
	margin: 10px 5px;
}

.optionen {
	width: 75vw;
	padding: 10px;
	background-color: lightblue;
}

form {
	display: block;
	margin: 0;
}

h3 {
	margin: 0;
	font-family: "Sen";
}

.email-inhalt > p {
	font-family: "Sen";
}

.dropdown-menu-email {
	border: none;
	padding: 4px 15px 4px 10px;
	border-radius: 8px;
	box-shadow: 0px 0px 4px 4px rgba(60, 60, 60, 0.3);
	width: 95%;
}

.zurueck {
	background-color: lightblue;
	color: white;
	box-shadow: 0px 0px 8px 4px rgba(80, 80, 80, 0.25);
	margin-bottom: 8px;
	font-size: 15px;
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
}

.zurueck:hover {
	animation-name: blackhole;
	animation-duration: 0.4s;
	box-shadow: none;
}

.zurueck:active {
	background-color: white;
	color: lightblue;
}

form > select {
	margin: 5px;
}

@keyframes blackhole {
	0% {box-shadow: 0px 0px 8px 4px rgba(80, 80, 80, 0.25);}
	100% {box-shadow: 0px 0px 0px 0px rgba(80, 80, 80, 0.25);}
}

#e-mails {
	display: none;
	width: 80vw;
}

#kalender {
	display: none;
}

#organigramm {
	display: none;
}

#taskliste {
	display: none;
}

#ansicht {
	display: block;
}